import { Styled{{componentName}} } from './styled'

const {{componentName}} = () => {
  return (
    <Styled{{componentName}}>
      <span>{{componentName}}</span>
    </Styled{{componentName}}>
  )
}

export default {{componentName}}
